{% extends 'basicInfo/admin_base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="left-content">
       <div class="inner-content">

            <!-- header-starts -->
            <div class="header-section">
            <!-- top_bg -->
                <div class="top_bg">            
                    <div class="header_top">
                        <div class="top_right">
                            <ul>
                                <li><a href="#">浙江大学教务中心</a></li>|
                                <li><a href="teacher_index.html">首页</a></li>|
                            </ul>
                        </div>
                        <div class="top_left">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down">{{ account_id }}</i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="basic_login.html"><i class="fa fa-sign-out fa-fw"></i> 登出</a></li>
                                    <li><a href="#"><i class="fa fa-cog fa-fw"></i>设置</a></li>
                                </ul>
                                <!-- /.dropdown-user -->
                            </li>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- content -->
            <div class="content">
                <div id="page-wrapper" style="min-height: 58px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">课程信息</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    
                    <!-- /.row -->
                    <div class="panel panel-default c_left">
                        <div class="panel-heading">
                            <h5>教学班列表</h5>
                        </div>
                        <table class="table table-hover table-condensed" id="kexuan-tab">
                            <thead>
                                <tr>
                                    <th>课程代号</th>
                                    <th>课程名称</th>
                                    <th>课程学分</th>
                                    <th>课程学时</th>
                                    <th>上课时间</th>
                                    <th>上课教室</th>
                                    <th>课程介绍</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courses %}
                                <form action="/teacher/course_apply/edit" method="get">
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{name}}</td>
                                        <td>{{credit}}</td>
                                        <td>{{hour}}</td>
                                        <td>{{time}}</td>
                                        <td>{{room}}</td>
                                        <td>{{intro}}</td>
                                    </tr>
                                </form>
                                <form role="form" method="POST">
                                    {% csrf_token %}
                                    <td><button type="submit" name="edit" value={{course.id}}>修改</button></td>
                                </form>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="panel panel-default c_down">
                        <div class="panel-heading">
                            <div>
                                <h5>修改课程信息</h5>
                            </div>
                        </div>
                        <form role="form" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="disabledSelect">课程介绍</label>
                                <input id="intro" name="intro" type="text" class="form-control" aria-describedby="basic-addon2">
                                </div>
                            <button type="submit" value="Submit">确认修改</button>
                        </form>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /#page-wrapper -->

                <!-- jQuery -->

            </div>
            <!--content-ends-->
        </div>
        <!--content-inner-ends-->
    </div>
    <!--content-left-ends-->



<script>
    var toggle = true;
                                        
    $(".sidebar-icon").click(function() 
    {                
        if (toggle)
        {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position":"absolute"});
        }
        else
        {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function() 
            {
                $("#menu span").css({"position":"relative"});
                    }, 400);
            }
                                            
            toggle = !toggle;
        });
</script>
{% endblock %}
