{% extends 'basicInfo/admin_base.html' %}
{% load staticfiles %}
{% block body %}

<div class="content">
    <div id="wrapper">
        <div id="page-wrapper" style="min-height: 58px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">教师信息修改</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <form role="form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="disabledSelect">工号</label>
                        <input class="form-control" id="teacher_id" type="text" placeholder={{teacher_id}} >
                    </div>
                    <button type="button" onclick="search()">查询</button>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label for="disabledSelect">新工号</label>
                        <input name="tid" id="teacher_newid" type="text" class="form-control" aria-describedby="basic-addon2" placeholder={{teacher_newid}}>
                    </div>
                    <div class="form-group">
                        <label for="disabledSelect">姓名</label>
                        <input name="tname" id="teacher_name" type="text" class="form-control" aria-describedby="basic-addon2" placeholder={{teacher_name}}>
                    </div>
                    <div class="form-group">
                        <label for="disabledSelect">职称</label>
                        <input name="ttitle" id="teacher_title" type="text" class="form-control" aria-describedby="basic-addon2" placeholder={{teacher_title}}>
                    </div>
                    <div class="form-group">
                        <label for="disabledSelect">办公室</label>
                        <input name="tdepartment" id="teacher_office" type="text" class="form-control" aria-describedby="basic-addon2" placeholder={{teacher_office}}>
                    </div>
                    <div class="form-group">
                        <label for="disabledSelect">管理学院</label>
                        <input class="form-control" id="teacher_manage" type="text" placeholder={{teacher_manage}} >
                    </div>
                    <div class="form-group">
                        <label for="disabledSelect">邮箱</label>
                        <input class="form-control" id="teacher_email" type="text" placeholder={{college_name}} >
                    </div>
                    <button type="button" onclick="push()">确认修改</button>
                </form>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

</div>
<!--content-ends-->


{% endblock %}
